* {
    font-family: 'Roboto', sans-serif;
}

html, body {
    height: 100%;
    margin: 0;
}

body {
    font-family: Open Sans;
    background: linear-gradient(45deg, #000000, #845993);
    background-repeat: no-repeat;
}

h1 {
    text-align: center;
    color: #313131;
}

input[type="text"] {
    outline: none;
}

input[type="radio"] {
    margin-left: 0;
}

input.form-element-field:not(:placeholder-shown) {
    opacity: 1;
}

input.form-element-field:not(:placeholder-shown) ~ .form-element-label {
    transform: translateY(-100%) translateY(-0.5em) translateY(-2px) scale(0.9);
    cursor: pointer;
    pointer-events: auto;
}

input.form-control-white:-webkit-autofill,
input.form-control-white:-webkit-autofill:hover,
input.form-control-white:-webkit-autofill:active,
input.form-control-white:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0 1000px #ffffff inset !important;
    -webkit-text-fill-color: #000 !important;
}

li {
    display: inline-block;
    position: relative;
}

li.list-style {
    width: auto;
    text-align: center;
    margin: 10px 22px;
}

button {
    border: none;
    border-radius: 2px;
    padding: 12px 18px;
    font-size: 16px;
    cursor: pointer;
    color: white;
    background-color: #556ee2;
    box-shadow: 0 0 4px #999;
    outline: none;
    border-radius: 15px;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#highscore {
    position: absolute;
    right: 100px;
    top: 200px;
    display: none;
}

#quiz {
    display: none;
}

#player-one, #player-two, #player-turn {
    position: absolute;
    cursor: default;
}

#player-turn {
    width: auto;
    top: 8px;
    left: 10px;
    display: none;
    background-color: #e09867;
}

#player-one {
    top: 5px;
    right: 10px;
    background-color: #e09867;
}

#player-two {
    display: none;
    top: 55px;
    right: 10px;
    background-color: #6599a0;
}

#select-the-number-of-players {
    margin-right: 7px;
}

#player-name-section {
    margin-top: 70px;
}

#progress {
    width: 100%;
    background-color: #ddd;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
}

#bar {
    width: 0%;
    height: 30px;
    background-color: #3d8840;
    text-align: center;
    line-height: 30px;
    color: black;
}

#question-area {
    display: none;
    text-align: left;
    margin-left: 100px;
    margin-top: 25px;
}

#container {
    top: 180px;
    position: relative;
    width: 50%;
    margin: auto;
    text-align: center;
    background-color: #fff;
    border-radius: 5px;
    color: #413a3a;
    height: 500px;
    font-weight: bold;
    box-shadow: 5px 5px 5px #293277eb;
}

#category-section {
    position: absolute;
    bottom: 78px;
    left: 10px;
    width: auto;
    background-color: #3f4875;
    cursor: default;
    font-size: 12px;
    background-position: center;
    border-radius: 15px;
    box-shadow: 0 0 4px #999;
    outline: none;
    padding: 12px 18px;
    color: white;
    border: none;
}

#difficulty-section {
    position: absolute;
    bottom: 34px;
    left: 10px;
    display: none;
    width: auto;
    background-color: #3f4875;
    cursor: default;
    font-size: 12px;
    background-position: center;
    border-radius: 15px;
    box-shadow: 0 0 4px #999;
    outline: none;
    padding: 12px 18px;
    color: white;
    border: none;
}

#category-section:active, #difficulty-section:active {
    background-color: #3f4875;
}

#submit {
    position: absolute;
    bottom: 70px;
    right: 175px;
    width: 120px;
}

#next-question {
    position: absolute;
    bottom: 70px;
    right: 10px;
    display: none;
    width: 150px;
}

#restart {
    position: absolute;
    bottom: 70px;
    right: 10px;
    display: none;
    width: 130px;
}

#restart-quiz {
    display: none;
    position: absolute;
    bottom: 70px;
    right: 160px;
    width: 130px;
}

#intro {
    margin: 0 auto;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 0;
    right: 0;
}

#number-of-players-section, #player-names-section, #category {
    position: relative;
    display: inline-block;
    width: auto;
}

#round {
    padding-top: 20px;
    margin: 0;
}

.form-element {
    position: relative;
    margin-top: 2.25rem;
    margin-bottom: 2.25rem;
    width: 300px;
    margin: 0 auto;
}

.form-element-bar {
    position: relative;
    height: 1px;
    background: #999;
    display: block;
}

.form-element-bar::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: #5553a5;
    height: 2px;
    display: block;
    transform: rotateY(90deg);
    transition: transform 0.28s ease;
    will-change: transform;
}

.form-element-label {
    position: absolute;
    top: 17px;
    left: -1px;
    line-height: 1.5rem;
    pointer-events: none;
    padding-left: 0.125rem;
    z-index: 1;
    font-size: 1rem;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0;
    color: #000000a3;
    transform: translateY(-50%);
    transform-origin: left center;
    transition: transform 0.28s ease, color 0.28s linear, opacity 0.28s linear;
    will-change: transform, color, opacity;
}

.form-element-field {
    outline: none;
    height: 40px;
    display: block;
    background: none;
    padding-left: 1px;
    font-size: 14px;
    border: 0 solid transparent;
    line-height: 1.5;
    width: 100%;
    color: #000000a3;
    box-shadow: none;
    opacity: 0.001;
    transition: opacity 0.28s ease;
    will-change: opacity;
}

.form-element-field:-ms-input-placeholder {
    color: #000000a3;
    transform: scale(0.9);
    transform-origin: left top;
}

.form-element-field::placeholder {
    color: #000000a3;
    transform: scale(0.9);
    transform-origin: left top;
}

.form-element-field:focus ~ .form-element-bar::after {
    transform: rotateY(0deg);
}

.form-element-field:focus ~ .form-element-label {
    color: #000000a3;
    font-weight: bold;
}

.form-element-field.-hasvalue,
.form-element-field:focus {
    opacity: 1;
}

.form-element-field.-hasvalue ~ .form-element-label,
.form-element-field:focus ~ .form-element-label {
    transform: translateY(-100%) translateY(-0.5em) translateY(-2px) scale(0.9);
    cursor: pointer;
    pointer-events: auto;
}

.form-control.form-element-field::focus {
    color: #000000a3;
    background-color: #000;
    outline: 0;
    border: none;
    box-shadow: none;
}

.errors {
    position: absolute;
    top: 80px;
    left: 0;
    right: 0;
    margin: 0 auto;
    visibility: hidden;
    display: inline-block;
    text-align: center;
}

.message {
    color: #fff;
    background: #c53b33;
    border-radius: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 15px 25px;
}

.title {
    margin-top: 0;
}

li {
    margin-bottom: 15px;
}

.container {
    position: relative;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 25px;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #bec1ff;
    border-radius: 50%;
    transition: background-color .15s ease-in-out;
}

.container:hover input ~ .checkmark {
    background-color: #4160ea;
}

.container input:checked ~ .checkmark {
    background-color: #4160ea;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.checkmark.correct-answer:after {
    content: "";
    position: absolute;
    display: block;
}

.container input:checked ~ .checkmark:after {
    display: block;
}

.container .checkmark:after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
}

.button {
    background-position: center;
    transition: background .2s;
}

.button:hover {
    background: #3050e2 radial-gradient(circle, transparent 1%, #3050e2 1%) center/15000%;
}

.button:active {
    background-color: #1333c5;
    background-size: 100%;
    transition: background 0s;
}

.not-allowed {
    background-color: rgb(187, 187, 187);
    cursor: not-allowed;
}

.list-style-difficulty {
    display: inline-block;
    position: relative;
    width: 100px;
    text-align: left;
    margin-left: 20px;
}

.container {
    position: absolute;
    left: 0;
    width: 100%;
}

.container > input {
    position: absolute;
    left: 0;
    width: 100%;
}

.container + span {
    display: inline-block;
    margin-top: 3px;
    padding-left: 35px;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.results {
    position: absolute;
    top: 80px;
    left: 0;
    right: 0;
    margin: 0 auto;
    visibility: hidden;
    display: inline-block;
    text-align: center;
}

.answer-result {
    box-shadow: 5px 5px 5px #293277eb;
    color: #fff;
    background: #c53b33;
    border-radius: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 15px 25px;
}